body,
html {
  width: 100%;
  height: 100%;
}

html.dark, html.dark body {
  background-color: #141b2d;
  color: #ececec;
}

html.light, html.light body {
  background-color: rgb(240, 240, 240);
  color: #222222;
}

#app {
  width: 100%;
  height: 100%;
}

body {
  direction: rtl;
  font-family: VazirFA;
  font-size: 16px;
  line-height: 2;
}
